name: Build VSIX

on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - '*'

permissions:
  id-token: write

env:
  VERSION: 3.1.${{ github.run_number }}
  
jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v6

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v2

    - name: Restore Packages
      run: nuget restore SSMSExecutor.sln

    - name: Build Solution
      run: msbuild.exe SSMSExecutor.sln /property:Configuration=Release /p:DeployExtension=false /p:ZipPackageCompressionLevel=normal /v:m

    - name: Azure CLI login with federated credential
      if: github.event_name != 'pull_request'
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDS }}

    - name: Publish artifacts
      if: github.ref == 'refs/heads/master' && github.repository_owner == 'tkwj' && (github.event_name == 'push' ||  github.event_name == 'workflow_dispatch')
      uses: actions/upload-artifact@v5
      with:
        name: Artifacts
        path: SSMSExecutor/bin/Release/*.vsix
